<div class="row">
    <div class="col-sm-4">
        <h3><%= @trip.title %></h3>
         <li class="media">
            <img class="mr-2 rounded" src="<%="/trip_images/#{@trip.image_name}"%>" alt="" width="150" height="150">
            <div class="media-body">
                <div>
                    
                </div>
            </div>
        </li>
    </div>
    <div class="col-sm-8 mt-3">
        <%= link_to '戻る', "/users/#{@trip.user_id}", class: 'btn btn-primary' %>
        <% if current_user == User.find(@trip.user_id) %>
        <%= link_to '予定追加', new_schedule_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
    <!--予定の繰り返し-->
    <% @trip.schedules.order(date: :asc,departure_time: :asc).each do |schedule| %>
    <div class="col-sm-4">
        <h1><%= schedule.date %></h1>
    </div>
    <div class="col-sm-8">
        <table class="table table-bordered">
            <tr>
                <th class="text-center">出発場所/時間</th>
                <td class="text-center"><%= schedule.departure_place %>/<%=schedule.departure_time%></td>
            </tr>
            <tr>
                <th class="text-center">イベント</th>
                <td class="text-center"><%= schedule.event%></td>
            </tr>
            <tr>
                <th class="text-center">到着場所/時間</th>
                <td class="text-center"><%= schedule.arrival_place %>/<%=schedule.arrival_time%></td>
            </tr>
            <tr>
                <th class="text-center">費用</th>
                <td class="text-center"><%= schedule.price%></td>
            </tr>
        </table>
        <% if current_user == User.find(@trip.user_id) %>
        <%= link_to '編集', "/trips/#{@trip.id}/schedules/#{schedule.id}/edit", class:'btn btn-success mb-3'%>
        <%= link_to '削除', "/trips/#{@trip.id}/schedules/#{schedule.id}",method: :delete, class:'btn btn-danger mb-3'%>
        <% end %>
    </div>
    <% end %>
</div>